body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-style {
  width: 150px;
  margin: auto;
  align-self: flex-start;
}

.img-style {
  width: auto;
  height: auto;
}

.myLink {
  color: whitesmoke;
  text-decoration: none;
}

.myLink-content {
  color: #cd7700;
  text-decoration: none;
  align-self: baseline;
}


.h1 {
  color:#272d2f;
  padding: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 24px;
}